@model IEnumerable<HospitalAppointmentSystem.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointmentTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
