@model IEnumerable<HospitalAppointmentSystem.Models.Doctor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableAppointmentTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch.branchName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availableAppointmentTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.doctorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.doctorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.doctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
